[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tatsu = "*"
nltk = "*"
podsixnet = "*"
pygame = "*"
astor = "*"
datetime = "*"
geocoder = "*"
numpy = "*"
pathlib = "*"
requests = "*"
wave = "*"
geopy = "*"
hilbertcurve = "*"
skyfield = "*"
hafrenhaver = {extras = ["dist"], path = "."}

[requires]
python_version = "3.9"
